/* App.css */
html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.App {
  height: 100vh; 
  overflow-y: auto; 
  scroll-behavior: smooth; 
}

/* .home-page {
  min-height: 100vh; 
  position: relative;
 z-index: -1000; 
  background-color: rgba(244, 243, 243, 0.955);
} */

:root {
  --font-size: 1.5rem; /* Default font size */
}

body {
  font-size: var(--font-size); /* Use the CSS variable */
}
