.appointment {
    position: relative;
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: auto;
    opacity: 0.8;
  }
  
  .overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .overlay h2 {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    color: rgb(54, 53, 53);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .overlay p {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    color: rgb(54, 53, 53);
  }
  
 .button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 2px;
    font-family: "Raleway", sans-serif;
    width: 300px;
    letter-spacing: 2px;
    font-size: 15px;
 }

 .button:hover {
    background-color: darkgrey;
  }