/* App.css */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100vh; 
  overflow-y: auto; 
  scroll-behavior: smooth; 
}

.home-page {
  min-height: 100vh; /* Ensure it's tall enough to allow scrolling */
  position: relative;
 
}
