/* Main container for the page */
.responsive-container {
    display: grid;
    gap: 1rem; /* Space between rows */
    padding: .5rem;
    padding-top: 80px;
    min-height: auto;
    background-color: white;
  }
  
  /* Each row is a grid container */
  .chiropractic-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    align-items: center;
    gap: 1rem; /* Space between columns */
    background-color: rgba(244, 243, 243, 0.955);

  }
  
  /* Styling for the image */
  .responsive-image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2%;
    height: auto;
    border-radius: 8px; /* Optional for rounded corners */
    object-fit: cover; /* Ensures proper aspect ratio */
    margin-top: 10px;
  }
  
  /* Styling for the text */
  .text-content {
    font-size: 1.2rem;
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: left;
  }

.text-content h1 {
  font-size: 2.0rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.text-content p {
  margin-bottom: 1rem;
  
}

.text-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.text-content li {
  margin-bottom: 0.5rem;
}
.italic {
  
  color: #085bc7; 
  font-weight: 500;
  font-size: 1.4rem;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-out forwards; /* 1s fade-in animation */
}

@media (max-width: 1150px) {
  .chiropractic-row {
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr; /* Single column layout */
    text-align: center; /* Center text content */
    align-items: center; /* Vertically center items */
    gap: 1rem; /* Add space between the image and text */
  }

  .responsive-image {
    justify-self: center; /* Center the image horizontally */
  }

  .text-content {
    margin-top: 1rem; /* Add spacing above the text content */
  }
 
}

  
  /* Responsive behavior for smaller screens */
  @media (max-width: 768px) {
    .chiropractic-row {
      grid-template-columns: 1fr; /* Switch to a single column layout */
      text-align: center; /* Center-align the text for better readability */
    }
  
    .text-content {
      margin-top: 1rem; /* Add space between image and text */

    }
  }
  