

.therapies-container {
    padding: 40px 20px;
    background-color: rgba(244, 243, 243, 0.955);
    text-align: center;
  }
  
  .therapies-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .therapies-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }
  
  .therapy-item {
    position: relative; /* Required for absolute positioning of the h3 */
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px; /* Fixed height for the box */
    min-height: 130px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* .name {
    display: none;
  } */
  
  .therapy-item h3 {
    position: absolute; /* Positioned relative to the .therapy-item container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the name inside the container */
    font-size: 1.2rem;
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Background for visibility */
    padding: 10px;
    visibility: hidden; /* Initially hide the name */
    opacity: 0; /* Make it invisible initially */
    transition: visibility 0s, opacity 0.3s ease, z-index 0.3s ease;
    z-index: -1; /* Ensure it's behind the image initially */
  }
  
  .therapy-item:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Darken the image container */
  }
  
  .therapy-item:hover img {
    opacity: 0.3; /* Darken the image on hover */
  }
  
  .therapy-item:hover h3 {
    visibility: visible; /* Show the therapy name */
    opacity: 1; /* Make the therapy name visible */
    z-index: 1; /* Bring the name to the front */
    border-radius: 3px;
   width: 100%;
   height: auto;
  
  }
  
  .therapy-item p {
    font-size: 1rem;
    color: #555;
  }
  
  .therapy-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .therapy-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fully covers the container */
    transition: opacity 0.3s ease;
  }
  
  .first-visit-container {
    display: flex;
    justify-content: center;  /* Centers the content horizontally */
    align-items: center;      /* Centers the content vertically (if needed) */
    padding: 20px;
    background-color: rgba(244, 243, 243, 0.955);

  }
  
  .first-visit-content {
    text-align: center;       /* Centers the text inside */
    width: 100%;              /* Ensures the content stretches to available width */
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
  }
  
  .first-visit-content h1 {
    margin-bottom: 20px;      /* Adds space between the h1 and the list */
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: none;
    width: 100%;
  }
  
  .first-visit-content ul {
    list-style-type: none;    /* Removes default list style */
    padding: 0;               /* Removes any padding applied to the list */
  }
  
  .first-visit-content li {
    font-size: 1.5rem;          /* Adjust size as needed */
    margin-bottom: 10px;      /* Adds space between list items */
    color: rgb(13, 1, 1);
  }

  @media (max-width: 1200px) {
    .therapies-grid {
      grid-template-columns: repeat(5, 1fr);
    }
    .text-content {
      font-size: 1rem;
  
    }
  }
  
  @media (max-width: 900px) {
    .therapies-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .therapies-grid {
      grid-template-columns: 1fr;
    }
  }