/* Footer Navigation Bar */
.nav-bar-footer {
    border-top: 1px solid #555;       /* Optional: Add a border to separate footer nav */
    border-bottom: 1px solid #555;    /* Optional: Add a border to separate footer nav */
  }
  
  .nav-items-footer {
    display: flex;
    flex-wrap: wrap;                  /* Allow wrapping for responsiveness */
    justify-content: center;          /* Center the nav items */
    list-style: none;                 /* Remove default list styling */
    padding: 0;                       /* Remove default padding */
  }
  
  .footer-nav-item {
    margin: 0.5rem 1rem;              /* Spacing between nav items */
  }
  
  .footer-nav-link {
    color: #fff;                      /* White text color */
    font-size: 1rem;                  /* Adjust font size */
    text-transform: uppercase;        /* Uppercase text */
    text-decoration: none;            /* Remove underline */
    transition: color 0.3s;           /* Smooth transition for hover effect */
    font-family: 'EB Garamond', serif;
  }
  
  .footer-nav-link:hover {
    color: #00bcd4;                   /* Highlight color on hover */
  }
  
  /* Footer Section */
  .footer {
    background-color: #ECECEC;        /* Dark background color */
    color: black;                      /* White text color */
    text-align: center;               /* Center align text */
    padding: 2rem 0;                  /* Vertical padding */
    /* font-family: 'raleway', sans-serif;  */
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    height: auto;
    min-height: auto;
    margin-top: 10px;
  }
  
  /* Footer headings */
  .footer h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  /* Footer links */
  .footer a {
    text-decoration: none;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #333; /* Adjust text color */
    transition: color 0.3s ease;
    position: relative; 
  }

  .footer a::after {
    content: '';
    position: absolute;
    bottom: -4px; /* Adjust the distance of the underline from the text */
    left: 0;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: darkgrey; /* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition effect */
  }

  .footer a:hover::after {
  width: 100%; /* Full width underline on hover */
}
  
  .footer a:hover {
    color: darkgrey; /* Adjust text color on hover */
}

.contact-link {
    color: #333;              /* Match the text color */
    text-decoration: none;    /* Remove underline */
    font-size: 1rem;
  }
  
  /* .contact-link:hover {
    text-decoration: underline; 
  } */

  .email-container {
    /* display: flex;        */
    align-items: center; 
    gap: 8px;             /* Add space between icon and text */
    flex-wrap: nowrap;    /* Prevent wrapping to a new line */
  }
  
  .email-icon {
    cursor: pointer;
  }

.footer-btn {
  background-color: #55739b;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  border-color: #55739b;
  /* font-family: 'raleway', sans-serif; */
  font-family: 'EB Garamond', serif;
  letter-spacing: 2px;
}

.footer-btn:hover {
  background-color: rgb(61, 60, 60); 
}


  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .nav-items-footer {
      flex-direction: row;            /* Keep items in a row */
      flex-wrap: wrap;                /* Allow wrapping */
    }
  
    .footer-nav-item {
      margin-bottom: 0.5rem;          /* Add spacing between items when wrapped */
    }
    .footer a {
      font-size: 1.2rem;                /* Adjust font size */
    }
  }
  @media (min-width: 768px) {
    .contact-link{
      word-break: break-word;  
      font-size: 1rem;

    }
  }
  