/* styles/Home.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


/* .home-page {
    position: absolute;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
  } */
.home-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
}

  .content {
    position: relative;
    z-index: 2;
    color: rgb(84, 81, 81);
    font-size: 3rem;
    max-width: 70%;
    font-family: 'EB Garamond', serif;
    font-weight: none;
   /* font-family: "Raleway", sans-serif; */
   top: -200px; /* Adjust the value to move up */
   left: 150px; 
  }


  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
    opacity: .9; /*trying something new*/
    pointer-events: auto !important; /* Ignore mouse events */
  }
  .home-btn {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    border-radius: 3px;
    background-color: rgb(161 157 157);
    color: white;
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 9999;
    text-transform: lowercase;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .home-btn:hover {
    background-color: rgb(31, 31, 31);
  color: white;
  }

  .nav-bar {
    display: flex;
    position: fixed;
    top: 0; /* Ensure it sticks to the top */
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff; /* Solid white background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
    z-index: 1000; /* Make sure it stays above other content */
  }

  .hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    /* transition: all 0.3s ease; */
    transition: transform 0.3s ease, opacity 0.3s ease;

  }
  

.logo img {
  height: 70px; /* Adjust size of the logo */
  border-radius: 6px;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 2rem; 
  margin: 0;
  padding: 0;
  margin-right: 5%;
  white-space: nowrap;
}

.nav-items li {
  display: inline;
}

.nav-items a, .nav-items button, .nav-items .dropdown-menu a {
  text-decoration: none;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
  font-weight: 300;
  color: #333; 
  transition: color 0.3s ease;
  position: relative; 
}

/* Underline effect */
.nav-items a::after {
  content: '';
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: darkgrey; 
  transition: width 0.3s ease;
}

/* Expand underline on hover */
.nav-items a:hover::after {
  width: 100%; 
}

/* Change text color on hover */
.nav-items a:hover {
  color: darkgrey; 
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0; /* Hide the middle bar */
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/* 
.welcome {
  color: black;
  font-weight: 600px;
  background-color: white;
  opacity: 0.6;
  border-radius: 6px;
  padding: 10px;
  font-size: 5rem;
} */

  


.extra-buttons {
  display: none;
}

.small-picture {
  display: none;
}


@media (max-width: 390px) {
  .small-picture {
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 200%;
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
    object-position: 50% 30%; 
    transform: translate(-50%, -50%);
    z-index: -1; 
  }
  .background-video {
    display: none;
  } 
  .nav-items {
    display: none;
    flex-direction: column; /* Stack the items vertically */
    background-color: #fff;
    position: absolute;
    top: 100%; /* Place below the navbar */
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    justify-content: center;
    text-align: center; /* Center the text */
    z-index: 9999; /* Ensure it's on top of other elements */
  }
  .nav-items a {
    text-decoration: none;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem; /* Adjust font size for mobile */
    font-weight: 300;
    color: #333; 
    transition: color 0.3s ease;
    padding: 10px 20px; /* Add some padding for better touch targets */
  }

  /* Underline effect */
  .nav-items a::after {
    content: '';
    position: absolute;
    bottom: -4px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: darkgrey; 
    transition: width 0.3s ease;
  }

  /* Expand underline on hover */
  .nav-items a:hover::after {
    width: 100%; 
  }
  .nav-menu.active .nav-items {
    display: flex;
  }

  /* Hamburger button */
  .hamburger {
    display: flex;
    flex-direction: column; /* Stack the bars vertically */
    justify-content: space-around;
    align-items: center;
    width: 30px; /* Set a size for the hamburger */
    height: 30px; /* Adjust based on your design */
    cursor: pointer; /* Add cursor pointer for clickability */
  }

  /* Hamburger bars */
  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .welcome {
    opacity: 0.6;
    font-size: 3rem;

  }
  .extra-buttons {
    display: flex; 
    margin: 10px;
    padding: 10px;
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
  }
  .extra-button {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    border-radius: 6px;
    background-color: rgb(161 157 157);
    color: white;
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 9999;
    text-transform: lowercase;
    letter-spacing: 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .extra-button:hover {
    background-color: rgb(31, 31, 31);
color: white;
  }
  .home-btn {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    border-radius: 6px;
    background-color: rgb(161 157 157);
    color: white;
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 9999;
    text-transform: lowercase;
    letter-spacing: 2px;

  }
  .content {
    position: relative;
    z-index: 2;
    color: rgb(84, 81, 81);
    font-size: 3rem;
    max-width: 70%;
    font-family: 'EB Garamond', serif;
    font-weight: none;
   /* font-family: "Raleway", sans-serif; */
   top: 0; /* Adjust the value to move up */
   left: 0; 
  }
  }
  



  @media (min-width: 391px) and (max-width: 1024px) {

  .content {
    position: relative;
    z-index: 2;
    color: rgb(84, 81, 81);
    font-size: 3rem;
    max-width: 70%;
    font-family: 'EB Garamond', serif;
    font-weight: none;
   /* font-family: "Raleway", sans-serif; */
   top: 0; /* Adjust the value to move up */
   left: 0; 
  }
   .background-video {
     display: none;
   }  


   .nav-items {
    display: none;
    flex-direction: column; /* Stack the items vertically */
    background-color: #fff;
    position: absolute;
    top: 100%; /* Place below the navbar */
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    justify-content: center;
    text-align: center; /* Center the text */
    z-index: 9999; /* Ensure it's on top of other elements */
  }

  /* Style the navigation links */
  .nav-items a {
    text-decoration: none;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem; /* Adjust font size for mobile */
    font-weight: 300;
    color: #333; 
    transition: color 0.3s ease;
    padding: 10px 20px; /* Add some padding for better touch targets */
  }

  /* Underline effect */
  .nav-items a::after {
    content: '';
    position: absolute;
    bottom: -4px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: darkgrey; 
    transition: width 0.3s ease;
  }

  /* Expand underline on hover */
  .nav-items a:hover::after {
    width: 100%; 
  }

  /* Show the navigation items when the nav-menu is active */
  .nav-menu.active .nav-items {
    display: flex;
  }

  /* Hamburger button */
  .hamburger {
    display: flex;
    flex-direction: column; /* Stack the bars vertically */
    justify-content: space-around;
    align-items: center;
    width: 30px; /* Set a size for the hamburger */
    height: 30px; /* Adjust based on your design */
    cursor: pointer; /* Add cursor pointer for clickability */
  }

  /* Hamburger bars */
  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }


  
    .welcome {
      opacity: 0.6;
      font-size: 3rem;

    }
    .extra-buttons {
      display: flex; 
      margin: 10px;
      padding: 10px;
      color: white;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-size: 1.5rem;
    }
    .extra-button {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      font-family: 'EB Garamond', serif;
      border-radius: 6px;
      background-color: rgb(140, 138, 138);
      color: white;
      cursor: pointer !important;
      pointer-events: auto !important;
      z-index: 9999;
      text-transform: lowercase;
      letter-spacing: 2px;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    .extra-button:hover {
      background-color: rgb(31, 31, 31);
  color: white;
    }
    .home-btn {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      font-family: 'EB Garamond', serif;
      border-radius: 6px;
      background-color: rgb(140, 138, 138);
      color: white;
      cursor: pointer !important;
      pointer-events: auto !important;
      z-index: 9999;
      text-transform: lowercase;
      letter-spacing: 2px;

    }
    .small-picture {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      height: auto; 
      max-height: 100%; 
      object-fit: cover; 
      object-position: 50% 30%; 
      transform: translate(-50%, -50%);
      z-index: -1; 
    }
  }

 