/* Dropdown styling */
.dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    cursor: pointer;
    /* padding: 10px; */
    color: black;
    /* font-size: 1.3rem; */
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
    display: none;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px; /* Set a width to ensure consistency */
    flex-direction: column; /* Stack items vertically */
  }
  
  .dropdown-menu li {
    margin: 5px 0;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block; /* Ensure the entire link area is clickable */
    padding: 8px 10px;
  }
  
  .dropdown-menu li a:hover {
    color: #007bff;
    background-color: #f1f1f1; /* Add a background hover effect */
  }
  
  /* Show dropdown when state is active */
  .dropdown .dropdown-menu {
    display: flex;
  }
  
  