.services-section {
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(236, 232, 232);
   
  }
  
  .services-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
  }

  .slogan-1 {
    font-size: 3.75rem;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3%;
  }

  .slogan-2 {
    font-size: 1.5rem;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3%;
  }
  
  .service-card {
    background-color: #fff;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px); /* 4 cards side by side */
    /* padding: 20px; */
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px); /* Hover effect for the cards */
  }
  
  .service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  h3 {
    font-size: 1.5rem;
    margin: 15px 0;
  }
  
  /* p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
   */
  .learn-more-btn {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
   
  }
  
  .learn-more-btn:hover {
    background-color: rgb(59, 58, 58);
  }
  
  @media (max-width: 768px) {
    .service-card {
      width: calc(50% - 20px); /* 2 cards side by side on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .service-card {
      width: 100%; /* 1 card per row on very small screens */
    }
  }
  