.vision {
    position: relative;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  

  .vision-container {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  
  .vision-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    width: 100%;
  }
  
  .vision-image {
    width: 100%;
    height: auto;
    opacity: 1; /* Remove this if set */
    transition: transform 0.3s ease-in-out;
  }

  #vision-contrast {
    background-color:#ECECEC;
  }

 
  
  .vision-text {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    flex: 1;
    justify-content: center;
    width: 100%;
  }
  

  

  .vision-content {
    position: relative;
    z-index: 1; /* Ensure content appears above the video */
    color: white; /* Adjust text color for contrast */
  }
  
  .vision-section h3 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .vision-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    /* font-family: 'raleway', sans-serif; */
    font-family: 'EB Garamond', serif;
  }


  /* Responsive Design */
  @media (max-width: 850px) {
    .vision-container {
      flex-direction: column;
    }
    .vision-text {
      gap: 3rem;
    }
    .vision-section p {
      font-size: 1.2rem;
    }

  }
   @media (max-width: 1090px) {
    .vision-text {
      gap: 3rem;
    }
    .vision-section p {
      font-size: 1.1rem;
    }
}

@media (max-width: 970px) {
    .vision-text {
        gap: 2rem;
    }
    .vision-section p {
        font-size: 1rem;
    }
}
 @media (max-width: 480px) {
  #hike {
    display: none;
  }
  #golf {
    display: none;
  }
 }
